/*<<<<<<< HEAD*/

body{
    background-color: #f0f0f0;
    font-family: 'Anton', sans-serif;
}
img{
    height: 50px;
    width: 50px;
}
h1{
    font-weight: bolder;
    margin:.5em .5em auto ;
    width:100%
}
h2{
    font-weight: bolder;
    margin:1em 1em auto ;
    width:100%
}

.circle-with-text {
    height: 85px;
    width:85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6563b;
    border: white solid 5px;
    color:white;





}
#orange{
    background-color: #eb9d3a;
}
#green{
    background-color: #7cb06c;
}
#teal{
    background-color: #00aba9;
}
/*>>>>>>> 1480544730c69180e9b83d9647804ea39f24fddc*/
