/*<<<<<<< HEAD*/

body{
    background-color: #f0f0f0;
}
img{
    height: 50px;
    width: 50px;
}
h1{
    font-weight: bolder;
    margin:.5em .5em auto ;
    width:100%
}
h2{
    font-weight: bolder;
    margin:1em 1em auto ;
    width:100%
}

.circle-with-text {
    height: 175px;
    width:175px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6563b;
    border: white dotted 30px;
    color:white;
}
/*>>>>>>> 1480544730c69180e9b83d9647804ea39f24fddc*/
